ToDo/ToDo/Connected Services/ZadanieService/ZadanieService46.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Web.Routing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Web.Routing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52119/Services/Zadania/ZadanieService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Web" />
  <xs:import schemaLocation="http://localhost:52119/Services/Zadania/ZadanieService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="RequestContext">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Web" minOccurs="0" name="HttpContext" nillable="true" type="q1:HttpContextBase" />
      <xs:element minOccurs="0" name="RouteData" nillable="true" type="tns:RouteData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestContext" nillable="true" type="tns:RequestContext" />
  <xs:complexType name="RouteData">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataTokens" nillable="true" type="q2:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="Route" nillable="true" type="tns:RouteBase" />
      <xs:element minOccurs="0" name="RouteHandler" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Values" nillable="true" type="q3:ArrayOfKeyValueOfstringanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteData" nillable="true" type="tns:RouteData" />
  <xs:complexType name="RouteBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="RouteExistingFiles" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteBase" nillable="true" type="tns:RouteBase" />
</xs:schema>