ToDo/ToDo/Connected Services/ZadanieService/ZadanieService48.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52119/Services/Zadania/ZadanieService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:52119/Services/Zadania/ZadanieService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Text" />
  <xs:import schemaLocation="http://localhost:52119/Services/Zadania/ZadanieService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:import schemaLocation="http://localhost:52119/Services/Zadania/ZadanieService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/System.Web.Routing" />
  <xs:import schemaLocation="http://localhost:52119/Services/Zadania/ZadanieService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:52119/Services/Zadania/ZadanieService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/System.Web.Configuration" />
  <xs:complexType name="HttpRequestBase">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AcceptTypes" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Text" minOccurs="0" name="ContentEncoding" nillable="true" type="q2:Encoding" />
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="Filter" nillable="true" type="q3:Stream" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Web.Routing" minOccurs="0" name="RequestContext" nillable="true" type="q4:RequestContext" />
      <xs:element minOccurs="0" name="RequestType" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UserLanguages" nillable="true" type="q5:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HttpRequestBase" nillable="true" type="tns:HttpRequestBase" />
  <xs:complexType name="HttpContextBase">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="AllErrors" nillable="true" type="q6:ArrayOfException" />
      <xs:element minOccurs="0" name="AllowAsyncDuringSyncStages" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApplicationInstance" nillable="true" type="tns:HttpApplication" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Web.Configuration" minOccurs="0" name="AsyncPreloadMode" type="q7:AsyncPreloadModeFlags" />
      <xs:element minOccurs="0" name="Handler" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Items" nillable="true" type="q8:ArrayOfKeyValueOfanyTypeanyType" />
      <xs:element minOccurs="0" name="SkipAuthorization" type="xs:boolean" />
      <xs:element minOccurs="0" name="ThreadAbortOnTimeout" type="xs:boolean" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:anyType" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WebSocketRequestedProtocols" nillable="true" type="q9:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HttpContextBase" nillable="true" type="tns:HttpContextBase" />
  <xs:complexType name="HttpApplication">
    <xs:sequence>
      <xs:element minOccurs="0" name="Site" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HttpApplication" nillable="true" type="tns:HttpApplication" />
  <xs:complexType name="HttpResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buffer" type="xs:boolean" />
      <xs:element minOccurs="0" name="BufferOutput" type="xs:boolean" />
      <xs:element minOccurs="0" name="CacheControl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Charset" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System.Text" minOccurs="0" name="ContentEncoding" nillable="true" type="q10:Encoding" />
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expires" type="xs:int" />
      <xs:element minOccurs="0" name="ExpiresAbsolute" type="xs:dateTime" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="Filter" nillable="true" type="q11:Stream" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System.Text" minOccurs="0" name="HeaderEncoding" nillable="true" type="q12:Encoding" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="Output" nillable="true" type="q13:TextWriter" />
      <xs:element minOccurs="0" name="RedirectLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubStatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="SuppressContent" type="xs:boolean" />
      <xs:element minOccurs="0" name="SuppressDefaultCacheControlHeader" type="xs:boolean" />
      <xs:element minOccurs="0" name="SuppressFormsAuthenticationRedirect" type="xs:boolean" />
      <xs:element minOccurs="0" name="TrySkipIisCustomErrors" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HttpResponseBase" nillable="true" type="tns:HttpResponseBase" />
</xs:schema>